@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Rubik+Mono+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


/* * {
    border: solid 1px orange; 
} */

/* .input-class {
    width: 800px; 
    font-size: 2rem; 
    padding: 4px;
    margin-bottom: 4px; 
    border: solid 1px lightslategray;
    border-radius: 8px;

} */