@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Rubik+Mono+One&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");



body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  padding: 20px;
}

.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Rubik Mono One', monospace;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

